@model proje_bitirme.Models.TahminSonucu

<div class="container mt-5">
    <div class="alert alert-success text-center shadow-sm">
        <h4 class="mb-3"><i class="fas fa-tachometer-alt"></i> Yakıt Tüketimi Tahmini</h4>
        <p><strong>Litre / 100 km:</strong> @Model.Litre100Km</p>
        <hr />
        <p class="text-muted">@Model.Aciklama</p>
    </div>
</div>